body {
    width: 100%;
    height: 875px;
    margin: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: 18%;
    background-color: rgba(14, 14, 207, 0.76);
    display: flex;
}

    header img {
        width: 138px;
        height: 138px;
        margin-left: 0.2%;
        margin-right: 1%;
        margin-top: 10px;
        box-shadow: 2px 2px 5px rgb(145, 139, 243);
        border-radius: 10%;
    }

    header h1 {
        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 70px;
        margin: 30px 100PX 0 0;
        text-shadow: 2px 2px 5px rgb(145, 139, 243);
    }

main {
    width: 100%;
    height: 72.6%;
    background-image: url(../multimedia/imagenes/fondo_login.webp);
    background-repeat: none;
    background-size: 100%;
}

.container {
    width: 300px;
    border-radius: 5%;
    position: relative;
    left: 5%;
    top: 10%;
    text-align: center;
    width: 40%;
    height: 83%;
    background-color: rgb(64, 64, 145, 0.9);
    padding-top: 0;
}

.button-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

    .button-group button {
        width: 49.5%;
        height: 50px;
        font-size: 25px;
        cursor: pointer;
        background-color: rgb(64, 64, 145, 0.1);
        margin: 0px;
        border: none;
        text-shadow: 2px 2px 5px rgb(145, 139, 243);
        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

        .button-group button:hover {
            background-color: rgb(138, 138, 145);
            box-shadow: 0px 1px 8px 0px black;
        }

    .button-group #loginBtn {
        border-radius: 30px 0 0 0;
    }

    .button-group #registerBtn {
        border-radius: 0px 30px 0 0;
    }

.content-item {
    display: none;
}

    .content-item h2 {
        margin: 0;
        text-shadow: 2px 2px 5px rgb(145, 139, 243);
        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 40px;
    }

    .content-item.active {
        display: block;
    }

form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

    form label {
        width: 10%;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        border-radius: 50px;
        min-width: 50px;
    }

label img {
    width: 100%;
    height: 100%;
    background-color: rgb(9, 23, 82);
}
/* Estilos para los inputs */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 80%;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    position: relative;
    left: 30px;
    bottom: 58px;
    font-size: 30px;
}

form button {
    width: 98%;
    height: 60px;
    background-color: rgb(138, 138, 145);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 120px;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(145, 139, 243);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#loginc {
    display: block;
}

#registrar {
    margin-top: 20px;
}

#informacion_login {
    width: 35%;
    height: 78%;
    bottom: 73%;
    background-color: red;
    display: block;
    position: relative;
    left: 55%;
    border-radius: 5%;
    background-color: rgb(64, 64, 145, 1);
    font-size: 25px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: content-box;
}

    #informacion_login h2 {
        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 5vw;
        margin: 30px 100PX 0 0;
        text-shadow: 2px 2px 5px rgb(145, 139, 243);
    }

    #informacion_login p {
        text-shadow: 2px 2px 5px rgb(145, 139, 243);
        text-align: justify;
    }

    body::-webkit-scrollbar,
    #informacion_login::-webkit-scrollbar {
        width: 25px; /* Ancho de la barra de scroll */
        border-radius: 0 100px 100px 0px; /* Bordes redondeados */
    }

    /* Estilo de la pista de scroll */
    body::-webkit-scrollbar-track,
    #informacion_login::-webkit-scrollbar-track {
        background: rgb(145, 139, 243); /* Color de fondo de la pista */
        border-radius: 0 100px 100px 0px; /* Bordes redondeados */
    }

    body::-webkit-scrollbar-thumb,
    #informacion_login::-webkit-scrollbar-thumb {
        background: rgb(49, 46, 104); /* Color del pulgar */
        border-radius: 0 100px 100px 0px; /* Bordes redondeados */
        border: 2px solid rgb(49, 46, 104); /* Bordes alrededor del pulgar */
    }
        /* Estilo del pulgar cuando se hace hover */
        body::-webkit-scrollbar-thumb:hover,
        #informacion_login::-webkit-scrollbar-thumb:hover {
            background: rgb(22, 21, 46); /* Color del pulgar al pasar el mouse */
        }
/* seccion inmotech */
#inmotech {
    background-color: red;
    color: white;
}

footer {
    width: 100%;
    height: 19.4%;
    background-color: rgba(14, 14, 207, 0.76);
}

    footer #oscu {
        width: 100%;
        height: 150px;
    }

    footer ul {
        width: 95%;
        border-bottom: 2px solid black;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        footer ul .b {
            font-family: "Platypi", serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            list-style: none;
        }

#oscu ul .b a {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

    #oscu ul .b a:hover {
        color: white;
        text-shadow: 2px 2px 5px black;
    }

footer p {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
/*! MEDIA QUERIES */
@media screen and (max-width: 990px) {
    .button-group {
        flex-direction: column;
    }

        .button-group button {
            width: 100%;
        }

        .button-group #loginBtn {
            border-radius: 21px 21px 0 0;
        }

        .button-group #registerBtn {
            border-radius: 0px 0px 0 0;
        }

    .content-item h2 {
        font-size: 30px;
        background-color: rgb(107, 107, 236);
    }

    #entrar {
        position: relative;
        bottom: 40px;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    form label {
        margin: auto;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 70%;
        height: 25px;
        left: 0px;
        top: 0px;
        bottom: 58px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    form button {
        width: 98%;
        height: 60px;
        background-color: rgb(138, 138, 145);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 80px;
        font-size: 30px;
    }

    #informacion_login {
        width: 35%;
        height: 82%;
        bottom: 73%;
        background-color: red;
        display: block;
        position: relative;
        left: 55%;
        border-radius: 5%;
        background-color: rgb(64, 64, 145, 1);
        font-size: 18px;
        overflow-y: scroll;
        padding: 5px;
        box-sizing: content-box;
    }

        #informacion_login h2 {
            font-family: "Platypi", serif;
            font-size: 23px;
            margin: 0;
            text-shadow: 2px 2px 5px rgb(145, 139, 243);
        }

        #informacion_login p {
            text-shadow: 2px 2px 5px rgb(145, 139, 243);
            text-align: start;
        }
}

@media screen and (max-width: 670px) {
    body {
        overflow-y: auto;
    }

    header {
        height: 45%;
        flex-direction: column;
        justify-content: center;
    }

        header img {
            width: 200px;
            height: 200px;
            margin: auto;
        }

        header h1 {
            font-size: clamp(35px, 12vw, 50px);
            text-align: center;
            margin: 0px 0PX 20px 0px;
        }

    .content-item h2 {
        font-size: 20px;
    }

    main {
        background-size: cover;
    }

    footer {
        height: 34.4%;
    }

        footer ul {
            flex-direction: column;
        }
}
