@page "/comocomprar"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmotech/¿como comprar?</title>
    <link rel="stylesheet" href="css/comocomprar.css">
</head>
<body>
    <header>
        <a href="../pagina/portafolio.html"><button>REGRESAR</button></a>
        <h1>
            ¿COMO COMPRAR?
        </h1>
    </header>
    <div class="contenedor">
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Explora apartamentos</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Selecciona el que mas te guste</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Agenda tu cita</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Lo conoces</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Inicias el proceso de compra</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
        <div class="cc">
            <img src="../multimedia/imagenes/fondo_login.webp" alt="">
            <h2>Mudate</h2>
            <p>es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (anónimo) usó una galera de tipos y los mezcló de tal manera que logró fabricar un libro de muestras tipográficas. No sólo sobrevivió cinco siglos, sino que también ingresó a la composición tipográfica electrónica, permaneciendo esencialmente inalterado. Se popularizó en la década de 1960 con la publicación de las hojas Letraset que contenían pasajes de Lorem Ipsum y, más recientemente, con el uso de software de autoedición como Aldus PageMaker, que incluía versiones de Lorem Ipsum.</p>
        </div>
    </div>
</body>
</html>

@code {

}
