@page "/index"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Inmotech/Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header del banner -->
    <header class="banner-container">
        <a href="./banner.html"><img src="../multimedia/imagenes/imagenb1.webp" alt="imagen 1" class="banner-image active"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb2.webp" alt="imagen 2" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb1.webp" alt="imagen 3" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb2.webp" alt="imagen 4" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb1.webp" alt="imagen 5" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb2.webp" alt="imagen 6" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb1.webp" alt="imagen 7" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb2.webp" alt="imagen 8" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb1.webp" alt="imagen 9" class="banner-image"></a>
        <a href="#"><img src="../multimedia/imagenes/imagenb2.webp" alt="imagen 10" class="banner-image"></a>
    
        <!-- Botones para cambiar de imagen -->
        <div class="banner-buttons">
            <button class="banner-button active" onclick="showImage(0)">01</button>
            <button class="banner-button" onclick="showImage(1)">02</button>
            <button class="banner-button" onclick="showImage(2)">03</button>
            <button class="banner-button" onclick="showImage(3)">04</button>
            <button class="banner-button" onclick="showImage(4)">05</button>
            <button class="banner-button" onclick="showImage(5)">06</button>
            <button class="banner-button" onclick="showImage(6)">07</button>
            <button class="banner-button" onclick="showImage(7)">08</button>
            <button class="banner-button" onclick="showImage(8)">09</button>
            <button class="banner-button" onclick="showImage(9)">10</button>
        </div>
        <div id="contenedor-logo">
            <img id="logo" src="../multimedia/imagenes/logo_200x200.png" alt="logo inmotech">
            <h1>INMOTECH</h1>
        </div>
    </header>
    <div class="secciones" id="navegacion">
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="sobrenosotros.html">SOBRE NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="herramientaspublicacion.html">HERRAMIENTAS DE PUBLICACION</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
    <div class="secciones" id="inmuebles">
        <div id="contenedor_imagenes">
            <div class="arriba" id="arriba1">
                <a id="as" href="../pagina/portafolio.html">
                    <div id="caja1">
                        <h1>INMUEBLES EN ARRIENDO</h1>
                    </div>
                </a>
            </div>
            <div class="arriba" id="arriba2">
                <a id="as" href="../pagina/portafolio.html">
                    <div id="caja2">
                        <H1>INMUEBLES EN VENTA</H1>
                    </div>
                </a>
            </div>
            <div id="abajo">
                <a id="as" href="../pagina/portafolio.html">
                    <div id="caja3">
                        <H1>VER TODOS LOS INMUEBLES</H1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="secciones" id="inmotech">
        <h2>INMOTECH</h2>
        <img src="../multimedia/imagenes/b10f990164219f7dd8e804f3dd47b2a3_low.webp" alt="">
        <p>INMOTECH, la plataforma tecnologica de origen colombiano que permite la compra y venta de inmuebles en tiempos record, acaba de dar un gran salto en el mercado inmobiliario. Una plataforma de inmuebles es un sitio web o una aplicación que facilita la compra, venta, alquiler o gestión de propiedades inmobiliarias. Estas plataformas sirven como intermediarios entre los propietarios de inmuebles, agentes inmobiliarios y potenciales compradores o arrendatarios. Ofrecen diversas funcionalidades como búsquedas avanzadas, filtros por ubicación, tipo de propiedad, precio, características específicas, entre otras. Estas plataformas suelen ser muy útiles para quienes buscan una nueva vivienda o quieren poner en venta o alquiler una propiedad. También son herramientas valiosas para los profesionales inmobiliarios que buscan promocionar sus listados.
        Si te interesa profundizar más sobre el tema o necesitas asesoramiento sobre cómo utilizar estas plataformas, estaré encantado de ayudarte. Idealista: Es una de las más conocidas y utilizadas en España. Idealista permite buscar pisos, casas, oficinas y locales comerciales en venta o alquiler. También ofrece herramientas para calcular hipotecas y ver tendencias del mercado. Los Tres Cerditos es un cuento tradicional que ha sido contado y recontado a lo largo de los años, con orígenes en la tradición oral europea. El cuento narra la historia de tres cerditos que construyen cada uno su propia casa, y cómo cada casa resiste o sucumbe ante los intentos de un lobo feroz que quiere devorarlos.</p>
    </div>
    <div class="secciones" id="testimonios">
        <h2>TESTIMONIOS</h2>
        <P>Testimonios INMOTECH de personas que decidieron confiar y vendernos sus viviendas.</P>
        <div class="tarjetas_testimonios">
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona1.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona2.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona3.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona4.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona1.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona2.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona3.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona4.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona1.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
            <div class="card">
                <div class="face front">
                    <img src="../../Proyecto/multimedia/imagenes/tpersona2.webp" alt="">
                    <h3>Felipe y Natalia</h3>
                </div>
                <div class="face back">
                    <h3>Felipe y Natalia</h3>
                    <p>Es un hecho establecido hace mucho tiempo que el lector se distraerá con el contenido legible de una página cuando observe su diseño. El objetivo de utilizar Lorem Ipsum es que tenga una distribución más o menos normal de las letras, a diferencia de utilizar 'Contenido aquí, contenido aquí', lo que hace que parezca un inglés legible. Muchos paquetes de autoedición y editores de páginas web utilizan ahora Lorem Ipsum como su modelo de texto predeterminado, y una búsqueda de 'lorem ipsum' descubrirá muchos sitios web que aún están en sus inicios.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="secciones" id="resolvemos">
        <h2>Resolvemos tus dudas</h2>
        <ul>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
            <li><a href="">¿que es INMOTECH?</a></li>
            <li><a href="">¿en donde opera INMOTECH?</a></li>
            <li><a href="">¿Por que confiar en INMOTECH?</a></li>
            <li><a href="">¿Donde funciona INMOTECH?</a></li>
        </ul>
    </div>
    <footer>
        <div id="oscu">
            <ul>
                <li class="b"><a href="">INMOTECH 2024 Todos los derechos reservados</a></li>
                <li class="b"><a href="">Terminos y condiciones</a></li>
                <li class="b"><a href="">Aviso de privacidad</a></li>
                <li><a href="">Cookies</a></li>
            </ul>
            <p>Usar este sitio implica que aceptas nuestras politicas y terminos, Aviso de privacidad y politica de datos. prohibida su reproduccion total o parcial, asi como su traduccion a cualquier idioma sin autorizacion escrita de su titular.</p>
        </div>
    </footer>
    <script src="../javascript/index.js"></script>
</body>
</html>
