@page "/"

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Loading</title>
    <link rel="stylesheet" href="css/loading.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="opacidad">
        <img src="../multimedia/imagenes/logo_1090x1080.png" />

        <h2>¡Bienvenido a INMOTECH!</h2>
        <div class="progress-bar-container">
            <div class="progress-bar"></div>
        </div>
        <p>Preparando algo increíble para ti...</p>
    </div>
    <script src="../javascript/loading.js"></script>
</body>
</html>

@code {

}
