@page "/login"

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Inmotech/Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- logo y nombre de la empresa en el encabezado -->
    <header>
        <img src="../multimedia/imagenes/logo_200x200.png" alt="logo inmotech">
        <h1>INMOTECH</h1>
    </header>
    <!-- cuerpo de la pagina login e informacion de la empresa -->
    <main>
        <div class="container">
            <div class="button-group">
                <button id="loginBtn" onclick="showContent('login')">Iniciar Sesión</button>
                <button id="registerBtn" onclick="showContent('register')">Registrarse</button>
            </div>
            <div id="content">
                <!-- Contenido de Iniciar Sesión por defecto -->
                <div id="loginc" class="content-item">
                    <h2>Iniciar Sesión</h2>
                    <form action="">
                        <label for="usuario"><img src="../multimedia/iconos/usuario1.png" alt=""></label>
                        <input id="usuario" placeholder="USUARIO" type="text">
                        <label for="contrasena"><img src="../multimedia/iconos/bloquear1.png" alt=""></label>
                        <input id="contrasena" placeholder="CONTRASEÑA" type="password">
                        <button id="entrar">Iniciar sesión</button>
                    </form>

                </div>

                <!-- Contenido de Registro oculto por defecto -->
                <div id="registerc" class="content-item" style="display: none">
                    <h2>Registro</h2>
                    <form action="">
                        <label for="correo"><img src="../multimedia/iconos/correo.png" alt=""></label>
                        <input id="correo" placeholder="CORREO" type="email">
                        <label for="usuarios"><img src="../multimedia/iconos/usuario1.png" alt=""></label>
                        <input id="usuarios" placeholder="USUARIO" type="text">
                        <label for="contrasenas"><img src="../multimedia/iconos/bloquear1.png" alt=""></label>
                        <input id="contrasenas" placeholder="CONTRASEÑA" type="password">
                        <button id="registrar">Registrarse</button>
                    </form>

                </div>
            </div>
        </div>

        <div id="informacion_login">
            <h2>Bienvenidos a INMOTECH</h2>
            <p>La tecnología ha cambiado drásticamente la manera en que vivimos, trabajamos y nos comunicamos. Desde la invención del internet, el mundo se ha vuelto más interconectado que nunca. Hoy en día, podemos acceder a información de cualquier parte del mundo en cuestión de segundos, lo que ha transformado no solo la forma en que aprendemos, sino también cómo trabajamos y nos relacionamos con los demás. Antes, era común tener que ir a una biblioteca para investigar sobre un tema en particular, pero ahora, con solo un clic, podemos encontrar millones de artículos, libros y recursos en línea que nos ofrecen una vasta cantidad de información sobre prácticamente cualquier tema. Este acceso instantáneo al conocimiento ha democratizado la educación, permitiendo que personas de todas partes del mundo, sin importar su ubicación geográfica, puedan aprender y crecer intelectualmente. Además, las plataformas de redes sociales han cambiado cómo nos comunicamos y conectamos con amigos, familiares y colegas. Estas plataformas permiten que nos mantengamos en contacto con personas de todo el mundo, compartiendo momentos importantes de nuestras vidas de manera instantánea. Sin embargo, esta interconexión también ha traído consigo desafíos significativos. Uno de los problemas más grandes que enfrentamos hoy en día es la cantidad de información falsa o engañosa que circula en la web. Con la facilidad de publicar contenido en línea, cualquiera puede difundir información, y no siempre es fácil distinguir entre fuentes confiables y aquellas que no lo son. Esto ha llevado a un aumento en la desinformación, lo que a su vez puede tener consecuencias graves, como la propagación de teorías conspirativas o la desconfianza en las instituciones públicas. Por otro lado, el impacto de la tecnología en el mundo laboral también es notable. La automatización y la inteligencia artificial están revolucionando muchos sectores, desplazando trabajos tradicionales pero también creando nuevas oportunidades que requieren habilidades especializadas. Esta transformación ha generado debates sobre el futuro del trabajo, con preocupaciones sobre la creciente desigualdad y la necesidad de una educación continua para mantenerse relevante en el mercado laboral. En resumen, mientras que la tecnología nos ha traído innumerables beneficios, también nos obliga a ser más críticos y reflexivos sobre cómo la usamos y las implicaciones que tiene en nuestras vidas. El desafío radica en encontrar un equilibrio que maximice las ventajas de la tecnología mientras minimiza sus riesgos.</p>
        </div>
    </main>
    <footer>
        <div id="oscu">
            <ul>
                <li class="b"><a href="">INMOTECH 2024 Todos los derechos reservados</a></li>
                <li class="b"><a href="">Terminos y condiciones</a></li>
                <li class="b"><a href="">Aviso de privacidad</a></li>
                <li class="b"><a href="">Cookies</a></li>
            </ul>
            <p>Usar este sitio implica que aceptas nuestras politicas y terminos, Aviso de privacidad y politica de datos. prohibida su reproduccion total o parcial, asi como su traduccion a cualquier idioma sin autorizacion escrita de su titular.</p>
        </div>
    </footer>
    <script src="../javascript/login.js"></script>
</body>
</html>

@code {

}
